<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>TFG QuantiPlant</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>TFG - QuantiPlant</h1>

    <button class="button" onclick="tomarFoto()">📸 Tomar Foto</button>
    <script>
      function tomarFoto() {
        fetch('/foto', { method: 'POST' })
          .then(response => {
            if (response.ok) {
              
            } else {
              alert("❌ Error al tomar la foto");
            }
          })
          .catch(() => {
            alert("⚠️ No se pudo conectar al servidor");
          });
      }
    </script>
    <button class="button" onclick="window.location.href='/mostrar'">💡 Encender LED</button>
    <a href="/config" class="button">⚙️ Configurar captura automática</a>
    <a href="/galeria" class="button">🖼 Ver Galería</a>



    {% if photo %}
      <div class="message">Foto tomada:</div>
      <img src="{{ photo }}" alt="Foto tomada">
    {% endif %}

    {% if led %}
      <div class="message">{{ led }}</div>
    {% endif %}

    {% if error %}
      <div class="message" style="color: red;">{{ error }}</div>
    {% endif %}
  </div>
</body>
</html>

